* {
    margin: 0;
    padding: 0;
}

.minha-imagem {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid black;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(rgb(149, 255, 0), rgb(83, 128, 0), rgb(0, 13, 255), alpha)
    height: 100vh;
    width: 20%;
}

.item-lista {
    font-size: 18px;
    margin: 15px;
}

.item-lista a {
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
}

.lista-navegacao {
    text-align: center;
    list-style: none;
    align-items: center;
}

.minha-foto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

body {
    display: flex;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}

.conteudo h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.conteudo p {
    margin-bottom: 20px;
    font-size: 20px;
}

.conteudo a {
    margin-right: 20px;
}

.frontend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    font-size: 30px;
}

.frontend li {
    margin-left: 35px;
}
