* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.informacoes {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cabecalho {
    background: rgb(0,57,22);
    background: linear-gradient(90deg, rgba(0,57,22,0.9612219887955182) 0%, rgba(6,1,51,0.927608543417367) 100%, rgba(0,212,255,1) 100%);
    height: 100vh;
    width: 20vw;
}

.minha-imagem {
    width: 210px;
    height: 220px;
    border-radius: 90%;
    border: 2px solid black;
    position: fixed;
    bottom: 350px;

}

.lista-navegacao {
    text-align: center;
    list-style: none;
    position: fixed;
    top: 320px;
    left: 50px; 
}

.conteudo {
    position: absolute;
    margin: auto;
    font-size: 10px;
    margin: 15px;
    left: 300px;
    bottom: 140px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.conhecimentos {
    position: fixed;
    bottom: 250px;
    left: 300px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.elementos {
    position: relative;
    margin: auto;
    left: 50px;
    margin: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}

.principal {
    position: relative;
    top: 80px;
    font-size: 30px;
}

.item-lista {
    font-size: 18px;
    margin: 15px;
    
}

.item-lista a {
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
}

.minha-foto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.conteudo h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.conteudo p {
    margin-bottom: 20px;
    font-size: 20px;
}

.conteudo a {
    margin-right: 20px;
}

.frontend li {
    margin-left: 35px;
}

.meusobjetivos {
    position: fixed;
    margin: auto;
    margin-left: 20px;
    bottom: 160px;
    left: 320px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;  
}
